
.profile_form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  composes: mt-15 from global;
  min-width: 844px;
}

.button_form {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.button_form_show {
  opacity: 1;
}

.action_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 480px;
  gap: 15px;
  position: absolute;
  left: 5px;
  bottom: -175px;
}
