
.profile_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  composes: mt-30 from global;
  min-width: 844px;
}

.button_form {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.button_form_show {
  opacity: 1;
}
