.burger_constructor {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  composes: mt-25 pl-4 pr-4 custom-scroll from global;
}

.constructor_wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.constructor_list_wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow-x: auto;
  gap: 10px;
  max-height: 656px;
}

.constructor_item_wrapper {
  width: 568px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.price_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form_total_wrapper {
  display: flex;
  gap: 40px;
  composes: mt-10 from global;
}
