.heading {
  text-shadow: 0 4px 32px rgba(51, 51, 255, 0.5),
    0 0 8px rgba(51, 51, 255, 0.25), 0 0 16px rgba(51, 51, 255, 0.25);
}

.order_details_wrapper {
  min-height: 467px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  composes: pt-30 pb-30 from global;
}

.loading_gif {
  width: 100px;
  height: 100px;
}
