@import url(./fonts/JetBrains_Mono/JetBrainsMono.css);
@import url(./fonts/IBM_Plex_Sans/IBMPlexSans.css);

:root {
  font-family: JetBrains Mono, Iceland, IBM Plex Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #F2F2F3;
  background-color: #131316;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
