.profile {
  display: flex;
  width: 1240px;
  justify-content: center;
}

.active {
  justify-content: center;
  align-items: center;
}

.profile_navlinks {
  width: 320px;
  composes: mt-30 mr-15 from global;
}

.profile_inputs_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  width: 320px;
  height: 64px;
}

.link_disabled {
  color: grey;
}
