.burger_ingredients {
  width: 600px;
  composes: mt-10 from global;
}

.tabs {
  display: flex;
  composes: mb-10 from global;
}

.ingredients_wrapper {
  max-height: 828px;
  overflow-x: auto;
  composes: custom-scroll from global;
}

.ingredients_list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  text-align: center;
  composes: pm-4 from global;
}

