.header {
  min-height: 56px;
  background-color: #1c1c21;
  display: flex;
  justify-content: center;
  gap: 8px;
  composes: pt-4 pb-4 from global;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 50px;
  gap: 8px;
  composes: pl-5 pr-5 pt-4 pb-4 from global;
}

.pr-5-class {
  composes: pr-5 from global;
}

.nav {
  display: flex;
  gap: 120px;
  width: 1280px;
}

.nav_left,
.nav_center,
.nav_right {
  display: flex;
}
