.header {
  width: 1920px;
  min-height: 88px;
  background-color: #1C1C21;
  display: flex;
  composes: p4 from global;
}

.button {
  display: flex;
  align-items: center;
  border: 1px solid red;
  border-radius: 50px;
}

.text {

}